body{
  margin: 0;
  padding: 0;
}




.modal-container {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.modal-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8274509804);
}
.modal-container .modal-close {
  padding: 3px 8px;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  cursor: pointer;
  background: rgb(178, 10, 10);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.27) 3px 3px 10px;
  border-top: rgba(255, 255, 255, 0.6392156863) solid 1px;
  border-left: rgba(255, 255, 255, 0.6392156863) solid 1px;
  border-bottom: rgba(0, 0, 0, 0.1490196078) solid 1px;
  border-right: rgba(0, 0, 0, 0.1490196078) solid 1px;
}
.modal-container .modal-replay {
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  font-size: 0.9em;
  position: absolute;
  top: 0.4em;
  left: 0.4em;
  cursor: pointer;
  background: rgb(6, 174, 6);
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.27) 3px 3px 10px;
  border-top: rgba(255, 255, 255, 0.6392156863) solid 1px;
  border-left: rgba(255, 255, 255, 0.6392156863) solid 1px;
  border-bottom: rgba(0, 0, 0, 0.1490196078) solid 1px;
  border-right: rgba(0, 0, 0, 0.1490196078) solid 1px;
}
.modal-container .table-score {
  position: absolute;
  top: 6.2em;
}
.modal-container .modal-content {
  height: 27em;
  padding: 1em 3em 3em;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
}
.modal-container .modal-content h1 {
  margin: 1em 0 1.2em;
  text-align: center;
  font-weight: 800;
}
.modal-container .table {
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  flex-direction: row;
  width: 13em;
  border-radius: 5px;
  box-shadow: rgba(116, 122, 116, 0.4901960784) 3px 3px 10px;
  padding: 0.5em;
  margin: 0 auto;
}
.modal-container li {
  background-color: rgb(55, 9, 219);
  color: aliceblue;
  padding: 0.5em;
  width: 3em;
  height: 3em;
  list-style-type: none;
  border-top: solid 1px rgba(255, 255, 255, 0.521);
  border-left: solid 1px rgba(255, 255, 255, 0.521);
  border-bottom: solid 1px rgba(22, 22, 22, 0.616);
  border-right: solid 1px rgba(22, 22, 22, 0.616);
  box-shadow: rgba(48, 46, 46, 0.452) 3px 3px 7px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.1em;
}
.modal-container .invisible {
  background-color: transparent;
  color: transparent;
  border: solid 1px transparent;
  box-shadow: none;
}
.modal-container .rows {
  display: flex;
}
.modal-container .createdby {
  position: absolute;
  bottom: 0.3em;
  right: 0.5em;
  font-size: 0.8em;
  color: rgb(133, 125, 125);
  text-align: end;
  font-weight: 600;
}
.modal-container .tries {
  text-align: center;
  margin: 1em auto;
  background-color: rgba(255, 255, 0, 0.3294117647);
  padding: 0.5em 0.3em;
  border-radius: 5px;
  transition: 0.3s ease;
  max-width: 13em;
}
.modal-container .win {
  background-color: rgba(0, 255, 255, 0.6901960784);
}
.modal-container .lost {
  border: rgba(223, 61, 229, 0.8431372549) dashed 2px;
  background-color: rgba(223, 61, 229, 0.3882352941);
}
.modal-container .big-div {
  transform: scale(1.5);
}
.modal-container .div-bonus {
  background-color: rgba(0, 255, 255, 0.6901960784);
  position: absolute;
  top: 3.5em;
  right: 1em;
  padding: 1.5em 0.3em;
  border-radius: 50%;
}
.modal-container .div-bonusplus {
  background-color: rgba(255, 225, 0, 0.93);
  position: absolute;
  top: 3.5em;
  right: 10em;
  padding: 1.8em 0.5em;
  border-radius: 50%;
  font-size: 0.9em;
  font-weight: 800;
}
.modal-container #divBonus.none {
 display: none;
}


/*# sourceMappingURL=pad.css.map */